		
	<section>
		   
		<div class="feature-photo">
			<figure><img src="/userData/Cover/{{user._id}}.jpg" class="cover-Photo" id="cover-Photo"  style="width: 100%; height:350px" alt=""></figure>
			<div class="add-btn">
				<span>1205 followers</span>
				<a href="#" title="" data-ripple="">Add Friend</a>
			</div>
			<form class="edit-phto" action="/editCover" id="form-cover-photo" method="POST" >
				<i class="fa fa-camera-retro"></i>
				<label class="fileContainer">
					Edit Cover Photo
				<input type="file" accept="image/*" id="coverPhoto" name="coverPhoto" />
				</label>
			</form>
			<div class="container-fluid">
				<div class="row merged">
					<div class="col-lg-2 col-sm-3">
						<div class="user-avatar">
							<figure>
								<img src="/userData/ProfilePic/{{user._id}}.jpg"  class="profile-image" id="profile-image"  alt="" style="width: 100%; min-height:150px;">
								<form action="/editprofilpic" class="edit-phto"   method="POST"  id="profile-image">
									<i class="fa fa-camera-retro"></i>
									<label class="fileContainer">
										Edit Display Photo
										<input type="file" accept="image/*" id="profilImage" name="profilImage" />
									</label>
								</form>
							</figure>
						</div>
					</div>
					<div class="col-lg-10 col-sm-9">
						<div class="timeline-info">
							<ul>
								<li class="admin-name">
								  <h5>{{user.Fulname}}</h5>
								  <span>{{user.Username}}</span>
								</li>
								<li>
                                    
									<a class={{#if profile}}"active"{{else}}""{{/if}} href="/profile" title="" data-ripple="">time line</a>
									<a class={{#if photos}}"active"{{else}}""{{/if}} href="/photos" title="" data-ripple="">Photos</a>
									<a class={{#if video}}"active"{{else}}""{{/if}} href="/videos" title="" data-ripple="">Videos</a>
									<a class={{#if friend}}"active"{{else}}""{{/if}}href="/friends" title="" data-ripple="">Friends</a>
									
									<a class={{#if about}}"active"{{else}}""{{/if}} href="/about" title="" data-ripple="">about</a>
									
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	<div id="response"></div>
	</section><!-- top area -->

